# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dev
nuxt

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

#google-services.json
google-services.json

# image 
public/img

# documentation .md
FULL_CODEBASE_AUDIT.md
Migration_Guide.md
NOTIFICATION_AUDIT.md
MIGRATION_PLAN.md
PERFORMANCE_AUDIT.md
PRODUCTION_READINESS_TODO.md

